<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
	<link rel="stylesheet" type="text/css" href="colorbox/colorbox.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" media="all">
</head>
<body>
	<div id="intro"  class="container-fluid">
		<div class="row-fluid">
			<div class="span10 offset1">
				<img src="img/cover.jpg" style="max-height:600px;" alt="">
			</div>
		</div>
	</div>
	<div class="navbar navbar-inverse">
      <div id="bottom-nav" class="navbar-inner">
		<ul  class="nav">
			<li class="sche"><a href="#">媒合會時程</a></li>

			<li class="firm"><a href="#">廠商資訊</a></li>
			<li class="map"><a href="#">展場位置</a></li>
			<li ><a href="http://ntueawearesomatch3.wordpress.com" target="_blank">實習心得</a></li>
			<li class="contactus"><a href="#">聯絡我們</a></li>
		</ul>
      </div>
    </div>
    <div id="search">
    	<div class="container">
			<div class="row">
				<div class="span8 offset2">
					<!-- <h1>廠商資訊</h1> -->
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<span class="atr">工作選項</span>
					<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    <span id="cur_type">全部</span>
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu filter">
					  	<li><a href="">全部</a></li>
					  	<li><a href="">行銷業務</a></li>
					  	<li><a href="">軟硬體開發</a></li>
					  	<li><a href="">管理財經</a></li>
					  	<li><a href="">編輯與設計</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<table class="table table-striped table-condensed">
		              <thead>
		                <tr>
		                  <th>#</th>
		                  <th>公司名稱</th>
		                  <th>產業類別</th>
		                  <th style="width:50px;">參展</th>
		                  <th>職缺</th>
		                  <th>&nbsp;</th>
		                  <th>&nbsp;</th>
		                </tr>
		              </thead>
		              <tbody id="tbody">
		              </tbody>
		            </table>
	            </div>
			</div>
		</div>
	</div>

	<div id="map">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>位置指示</h1>
					<img src="img/map.jpg" style="margin:10px;" alt=""/>
                    
					<img src="img/inner_map.jpg" style="margin:10px;" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h1>聯絡我們</h1>
					<ul>
						<li><a href="http://www.facebook.com/#!/NTUEA?fref=ts">臺大創聯會粉絲專頁</a></li>
						<li><a href="http://www.facebook.com/pages/%E8%87%BA%E5%A4%A7%E5%89%B5%E6%84%8F%E5%89%B5%E6%A5%AD%E5%AD%B8%E7%A8%8BNTUCEP/146760658725060?fref=ts">臺大創意創業學程粉絲專頁</a></li>
						<li>臺大創聯會聯絡信箱:ntuea@cc.ee.ntu.edu.tw</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="end" class="container-fluid">
		<p>
		<div style='display:none'>
			<a class='inline' href="#inline_content">Inline HTML</a></p>
		</div>
		<div style='display:none'>
			<div id='inline_content' style='padding:20px;'>
				<h1>CliPick</h1>
	            <table class="table table-striped table-condensed">
	              <thead>
	                <tr>
	                  <th>產業類別</th>
	                  <th>公司地區</th>
	                  <th>官方網站</th>                 	     
	                </tr>
	                <tr>
	                	<td>資訊科技</td>
	                	<td>台北市大安區</td>
	                	<td>www.pinby.com.tw</td>
	                </tr>
	            </table>	            

	            <h2>公司簡介</h2>
	            <p>龍骨王利用Kinect體感技術，為保健操增添更多樂趣，讓更多銀髮族加入運動保健的行列。龍骨王保健操互動遊戲與「運動治痠痛」作者簡文仁老師一起合作，藉由結合龍骨王提供的新技術能注入新價值。不只是在保健這塊領域上，龍骨王下一步也會朝醫療復健器材此領域發展，期許能協助更多病患做復健。特別的是龍骨王近期更利用kinect結合塑身有氧操，讓減重人士能正確的在家運動達到雙倍瘦身的效果，此產品引起更引起女性朋友廣大的興趣。</p>
	            
	            <h2>職缺資訊</h2>
				<table class="table table-striped table-condensed">
	              <thead>
	                <tr>
						<th>類別</th>
						<th>職務名稱</th>
						<th>工作職責</th>
						<th>工作條件</th>
						<th>面談事項</th>
	                </tr>
	                <tr>
						<td>行銷業務</td>
						<td>Account Management Intern</td>
						<td>Account Management Intern:管理與客戶間的業務往來，包括與部落客溝通，與客戶溝通，研究中國社群行銷發展以及發想進入中國市場策略，經營品唄微博</td>
						<td>市場研究與策略發想創意行銷能力做事有清楚的目標</td>
						<td></td>
	                </tr>
	                <tr>
						<td>行銷業務</td>
						<td>Account Management Intern</td>
						<td>Account Management Intern:管理與客戶間的業務往來，包括與部落客溝通，與客戶溝通，研究中國社群行銷發展以及發想進入中國市場策略，經營品唄微博</td>
						<td>市場研究與策略發想創意行銷能力做事有清楚的目標</td>
						<td></td>
	                </tr>
	                <tr>
						<td>行銷業務</td>
						<td>Account Management Intern</td>
						<td>Account Management Intern:管理與客戶間的業務往來，包括與部落客溝通，與客戶溝通，研究中國社群行銷發展以及發想進入中國市場策略，經營品唄微博</td>
						<td>市場研究與策略發想創意行銷能力做事有清楚的目標</td>
						<td></td>
	                </tr>
	            </table>

	            <h2>其他事項</h2>
	            <p>龍骨王利用Kinect體感技術，為保健操增添更多樂趣，讓更多銀髮族加入運動保健的行列。龍骨王保健操互動遊戲與「運動治痠痛」作者簡文仁老師一起合作，藉由結合龍骨王提供的新技術能注入新價值。不只是在保健這塊領域上，龍骨王下一步也會朝醫療復健器材此領域發展，期許能協助更多病患做復健。特別的是龍骨王近期更利用kinect結合塑身有氧操，讓減重人士能正確的在家運動達到雙倍瘦身的效果，此產品引起更引起女性朋友廣大的興趣。</p>
			</div>
		</div>
	</div>



	<script type="text/template" id="td_temp">
	<tr class="firmdata">
		<td class="num"><%= num %></td>
		<td><%= name %></td>
		<td><%= type %></td>
		<td><%= display %></td>
		<td><%= job1type %></td>
		<% if ((typeof(job2type) != "undefined") && ( job2type != "" ) ) { %>
		<td><%= job2type %></td>
        <% }else{ %>
            <td></td>
		<% }if((typeof(job4type) != "undefined") && ( job4type != "" ) ){ %>
			<td>More...</td>			
		<% }else if((typeof(job3type) != "undefined") && ( job3type != "" ) ){%>
			<td><%= job3type %></td>
        <% }else{ %>
            <td></td>
		<% }%>
		
	</tr>
	</script>
	<script type="text/template" id="firm_temp">
		<span class="h1">
			<%= name %>
			<% if ((typeof(logo) != "undefined") && ( logo != "" ) ) { %><img src="logo/<%= logo %>" alt=""><% } %>
		</span>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>產業類別</th>
              <th>公司地址</th>
              <th>官方網站</th>
            </tr>
            <tr>
            	<td><%= type %></td>
            	<td><%= address %></td>
            	<td><% if ((typeof(website) != "undefined") && ( website != "" ) ) { %><a target="_blank" href="<%= website %>"><%= website %></a><% } %></td>
            </tr>
        </table>	            

        <h2>公司簡介</h2>
        <p><%= desc %></p>

		<% if ((typeof(email) != "undefined") && ( email != "" ) ) { %>
		<h2>聯絡方式</h2>
		<p><%= email %></p>
		<% } %>

		<% if ((typeof(intern_url) != "undefined") && ( intern_url != "" ) ) { %>
		<h2>實習心得</h2>
		<p><a target="_blank" href="<%= intern_url %>"><%= intern_title %></a></p>
		<% } %>

        <h2>職缺資訊</h2>
		<table class="table table-striped table-condensed">
          <thead>
            <tr>
				<th>類別</th>
				<th>職務名稱</th>
				<th>工作職責</th>
				<th>工作條件</th>
				<th>面談事項</th>
				<th>是否給薪</th>
				<th>薪資</th>
            </tr> 
            <tr>
			<% if ((typeof(job1type) != "undefined") && ( job1type != "" ) ) { %>
				<td><%= job1type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job1title) != "undefined") && ( job1title != "" ) ) { %>
				<td><%= job1title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job1duty) != "undefined") && ( job1duty != "" ) ) { %>
				<td><%= job1duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job1cons) != "undefined") && ( job1cons != "" ) ) { %>
				<td><%= job1cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job1inter) != "undefined") && ( job1inter != "" ) ) { %>
				<td><%= job1inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job1hassal) != "undefined") && ( job1hassal != "" ) ) { %>
				<td><%= job1hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job1sal) != "undefined") && ( job1sal != "" ) ) { %>
				<td><%= job1sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
            </tr>

            <% if ((typeof(job2type) != "undefined") && ( job2type != "" ) ) { %>
                <tr>
			<% if ((typeof(job2type) != "undefined") && ( job2type != "" ) ) { %>
				<td><%= job2type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job2title) != "undefined") && ( job2title != "" ) ) { %>
				<td><%= job2title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job2duty) != "undefined") && ( job2duty != "" ) ) { %>
				<td><%= job2duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job2cons) != "undefined") && ( job2cons != "" ) ) { %>
				<td><%= job2cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job2inter) != "undefined") && ( job2inter != "" ) ) { %>
				<td><%= job2inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job2hassal) != "undefined") && ( job2hassal != "" ) ) { %>
				<td><%= job2hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job2sal) != "undefined") && ( job2sal != "" ) ) { %>
				<td><%= job2sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    

            <% if ((typeof(job3type) != "undefined") && ( job3type != "" ) ) { %>
            	<tr>
			<% if ((typeof(job3type) != "undefined") && ( job3type != "" ) ) { %>
				<td><%= job3type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job3title) != "undefined") && ( job3title != "" ) ) { %>
				<td><%= job3title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job3duty) != "undefined") && ( job3duty != "" ) ) { %>
				<td><%= job3duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job3cons) != "undefined") && ( job3cons != "" ) ) { %>
				<td><%= job3cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job3inter) != "undefined") && ( job3inter != "" ) ) { %>
				<td><%= job3inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job3hassal) != "undefined") && ( job3hassal != "" ) ) { %>
				<td><%= job3hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job3sal) != "undefined") && ( job3sal != "" ) ) { %>
				<td><%= job3sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    

			<% if ((typeof(job4type) != "undefined") && ( job4type != "" ) ) { %>
            	<tr>
			<% if ((typeof(job4type) != "undefined") && ( job4type != "" ) ) { %>
				<td><%= job4type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job4title) != "undefined") && ( job4title != "" ) ) { %>
				<td><%= job4title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job4duty) != "undefined") && ( job4duty != "" ) ) { %>
				<td><%= job4duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job4cons) != "undefined") && ( job4cons != "" ) ) { %>
				<td><%= job4cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job4inter) != "undefined") && ( job4inter != "" ) ) { %>
				<td><%= job4inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job4hassal) != "undefined") && ( job4hassal != "" ) ) { %>
				<td><%= job4hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job4sal) != "undefined") && ( job4sal != "" ) ) { %>
				<td><%= job4sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    


			<% if ((typeof(job5type) != "undefined") && ( job5type != "" ) ) { %>
            	<tr>
			<% if ((typeof(job5type) != "undefined") && ( job5type != "" ) ) { %>
				<td><%= job5type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job5title) != "undefined") && ( job5title != "" ) ) { %>
				<td><%= job5title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job5duty) != "undefined") && ( job5duty != "" ) ) { %>
				<td><%= job5duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job5cons) != "undefined") && ( job5cons != "" ) ) { %>
				<td><%= job5cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job5inter) != "undefined") && ( job5inter != "" ) ) { %>
				<td><%= job5inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job5hassal) != "undefined") && ( job5hassal != "" ) ) { %>
				<td><%= job5hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job5sal) != "undefined") && ( job5sal != "" ) ) { %>
				<td><%= job5sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    			
            

			<% if ((typeof(job6type) != "undefined") && ( job6type != "" ) ) { %>
            	<tr>
			<% if ((typeof(job6type) != "undefined") && ( job6type != "" ) ) { %>
				<td><%= job6type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job6title) != "undefined") && ( job6title != "" ) ) { %>
				<td><%= job6title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job6duty) != "undefined") && ( job6duty != "" ) ) { %>
				<td><%= job6duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job6cons) != "undefined") && ( job6cons != "" ) ) { %>
				<td><%= job6cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job6inter) != "undefined") && ( job6inter != "" ) ) { %>
				<td><%= job6inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job6hassal) != "undefined") && ( job6hassal != "" ) ) { %>
				<td><%= job6hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job6sal) != "undefined") && ( job6sal != "" ) ) { %>
				<td><%= job6sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    			
            

			<% if ((typeof(job7type) != "undefined") && ( job7type != "" ) ) { %>
            	<tr>
			<% if ((typeof(job7type) != "undefined") && ( job7type != "" ) ) { %>
				<td><%= job7type %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job7title) != "undefined") && ( job7title != "" ) ) { %>
				<td><%= job7title %></td>
			<% }else{ %>
				<td></td>
			<% }if ((typeof(job7duty) != "undefined") && ( job7duty != "" ) ) { %>
				<td><%= job7duty %></td>
			<% }else{ %>
				<td></td>				
			<% }if ((typeof(job7cons) != "undefined") && ( job7cons != "" ) ) { %>
				<td><%= job7cons %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job7inter) != "undefined") && ( job7inter != "" ) ) { %>
				<td><%= job7inter %></td>				
			<% }else{ %>				
				<td></td>
			<% }if ((typeof(job7hassal) != "undefined") && ( job7hassal != "" ) ) { %>
				<td><%= job7hassal %></td>
			<% }else{ %>
				<td></td>								
			<% }if ((typeof(job7sal) != "undefined") && ( job7sal != "" ) ) { %>
				<td><%= job7sal %></td>				
			<% }else{ %>				
				<td></td>
			<% } %>     
				</tr>
			<% } %>    			
            

			<% if (typeof(job8type) != undefined ) { %>
            	<tr>
                <% if ((typeof(job8type) != "undefined") && ( job8type != "" ) ) { %>
                    <td><%= job8type %></td>
                <% }else{ %>
                    <td></td>
                <% }if ((typeof(job8title) != "undefined") && ( job8title != "" ) ) { %>
                    <td><%= job8title %></td>
                <% }else{ %>
                    <td></td>
                <% }if ((typeof(job8duty) != "undefined") && ( job8duty != "" ) ) { %>
                    <td><%= job8duty %></td>
                <% }else{ %>
                    <td></td>				
                <% }if ((typeof(job8cons) != "undefined") && ( job8cons != "" ) ) { %>
                    <td><%= job8cons %></td>
                <% }else{ %>
                    <td></td>								
                <% }if ((typeof(job8inter) != "undefined") && ( job8inter != "" ) ) { %>
                    <td><%= job8inter %></td>				
                <% }else{ %>				
                    <td></td>
                <% }if ((typeof(job8hassal) != "undefined") && ( job8hassal != "" ) ) { %>
                    <td><%= job8hassal %></td>
                <% }else{ %>
                    <td></td>								
                <% }if ((typeof(job8sal) != "undefined") && ( job8sal != "" ) ) { %>
                    <td><%= job8sal %></td>				
                <% }else{ %>				
                    <td></td>
                <% } %>     
				</tr>
			<% } %>    			
            

        </table>

        <h2>其他事項</h2>
        <p><% if ((typeof(other) != "undefined") && ( other != "" ) ) { %><%= other %><% } %></p>
	</script>


	<script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/jquery.xml2json.js" type="text/javascript"></script>
    <script src="colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="js/jquery.effects.core-1.8.17.js" type="text/javascript"></script>
    
    <script type="text/javascript">
	$(function(){
		var cur_data,full_data;
		$.get("data.xml",function(raw){
			var data = jQuery.parseXML(raw);
			var xml = raw;
			var json = $.xml2json(xml);
			response = json.company;
			cur_data = response;
			full_data = cur_data;
			console.log(full_data);
			putdata();
		});
		$(".sche").click(function(){
			$("html, body").animate({ scrollTop: "0px" },1000,"easeInBack");
		});
		$(".firm").click(function(){
			$top = $("#intro").outerHeight();
			$("html, body").animate({ scrollTop: $top },1000,"easeOutBack");
		});
		$(".map").click(function(){
			$top = $("#map").position().top;
			$("html, body").animate({ scrollTop: $top },1000,"easeOutBack");
		});
		$(".contactus").click(function(){
			$top = $("#contact").position().top;
			$("html, body").animate({ scrollTop: $top },1000,"easeOutBack");
		});
		$(".inline").colorbox({inline:true, width:"90%"});
		$(".firmdata").live("click",function(){
			
			var num = parseInt($(this).find(".num").html());
			var data_html = "";
			data_html = _.template( $("#firm_temp").html(), cur_data[num-1]);
			$("#inline_content").html(data_html);
			$(".inline").trigger("click");
			//console.log(data_html);
		});

		function putdata(){
			var data_html = "";
			var i = 0;
			for(var key in cur_data){
				var data = cur_data[key];
				i++;
				data.num = i;
			    data_html += _.template( $("#td_temp").html(), cur_data[key]);
			};
			$("#tbody").html(data_html);
		}

		$(".filter li a").click(function(){
			var word = $(this).html();
			var new_data = Array();
			//console.log(word);
			if(word=="全部"){
				cur_data = full_data;
			}else{
				for(var key in full_data){
					var data = full_data[key];
					//console.log(data);
					if(data.job1type&&data.job1type==word){
						new_data.push(data);
					}else if(data.job2type&&data.job2type==word){
						new_data.push(data);
					}else if(data.job3type&&data.job3type==word){
						new_data.push(data);
					}
				};
				cur_data = new_data;
				$("#cur_type").html(word);
			}
			putdata();
			return false;
		});
	});
    </script>
</body>
</html>


